.container{
 background-color:#e6e6fa;
 display: flex;
 justify-content: center;
 grid-gap: 20px;
 padding: 50px 0px;
}
.column{
    display: flex;
    padding: 10px;
    grid-gap: 10px;
    flex-direction: column;
    border: 4px solid black;
}

.color-box{
    width: 150px;
    height: 150px;
}
.color-1{
    background-color: #008080;
}
.color-2{
    background-color:  #0067b8;
}
.color-3{
    background-color:#e9ad1e;
}
.color-4{
    background-color: #824ae9;
}
.color-5{
    background-color: #e9ad1e;
}
.color-6{
    background-color: #990000;
}
.color-7{
    background-color: #008080;
}
.color-8{
    background-color: #824ae9;
}
.color-9{
    background-color: #FFA1A1;
}
